GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GCP_PROJECT_ID=
BQ_DATASET_RAW=raw_aqi
BQ_DATASET_DBT=dbt_aqi
BQ_LOCATION=asia-south1
DATA_GOV_API_KEY=
OPENWEATHER_API_KEY=

# AQI ingestion tuning
AQI_RESOURCE_ID=3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69
AQI_LIMIT=100
AQI_START_OFFSET=0
AQI_MAX_PAGES=

# Airflow
PIPELINE_SCHEDULE_CRON=0 * * * *
PIPELINE_RETRIES=2
PIPELINE_RETRY_DELAY_MIN=10
PIPELINE_ALERT_EMAIL=
