# Python
__pycache__/
*.pyc
.venv/
venv/

# Env and secrets
.env
credentials.json

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
logs/
*.log

# Airflow
airflow/logs/
airflow/.env

# Backfill state
scripts/completed_dates.txt

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
