GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_RAW=raw_ecommerce
BQ_DATASET_DBT=dbt_ecommerce
BQ_LOCATION=asia-south1
DATA_GOV_API_KEY=your-data-gov-in-api-key
