GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_RAW=raw_ecommerce
BQ_DATASET_DBT=dbt_ecommerce
BQ_LOCATION=asia-south1
DATA_GOV_API_KEY=your-data-gov-in-api-key
PIPELINE_SCHEDULE_CRON=0 6 * * *
PIPELINE_RETRIES=2
PIPELINE_RETRY_DELAY_MIN=10
PIPELINE_ALERT_EMAIL=
AIRFLOW__SMTP__SMTP_HOST=
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_USER=
AIRFLOW__SMTP__SMTP_PASSWORD=
AIRFLOW__SMTP__SMTP_MAIL_FROM=
AIRFLOW__SMTP__SMTP_STARTTLS=True
BIGBASKET_MAX_PAGES=3
BIGBASKET_USE_SELENIUM=false
BIGBASKET_ALLOW_OFFLINE=false